@import "../../styles/variables.scss";

.multi-select {
  .selected-items {
    .search-input {
      border-radius: 15px;
      width: 350px;
      height: 45px;
      border: 2px solid $primary-color;
      padding: 0 10px;
      &:focus {
        box-shadow: 0px 0px 2px 5px #cce0ff;
        outline: none;
      }
    }
  }
  .items-list {
    .item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      .item-text {
        color: $primary-font-color;
        font-size: 16px;
      }
      .item-icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}
